<div class="server">
  <h3>{{ include.s.name }}</h3>

  {% include server_iframe.html id=include.s.id %}

  <div class="links">
    <a href="{{ include.s.connect }}">Connect to Server</a>
    <a
      href="#"
      class="copy-ip"
      data-copy="{{ include.s.ip }}">Copy IP</a>

    {% if s.steam %}
      <a href="{{ include.s.steam }}">Steam Group</a>
    {% endif %}

    {% if s.discord %}
      <a href="{{ include.s.discord }}">Discord Server</a>
    {% endif %}

    {% if s.website %}
      <a href="{{ include.s.website }}">Website</a>
    {% endif %}
  </div>

</div>