// STYLES

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $inter;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: $secondary-bg;
  font-size: 14px;
  padding: 1em;
  font-weight: 700;
}

main {
  padding: 2em;
}

h1,
h2,
h3 {
  color: $primary;
  font-family: $ubuntu;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  padding: 1em;
  list-style-type: circle;
}

li {
  margin-bottom: 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.3em;
}

nav {
  padding: 0.5em;
  font-size: 16px;

  > a {
    font-weight: bold;
  }
}

a {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}
