---
import Layout from "../layouts/default.astro";
---

<Layout 
  title="404 | VFTF"
  description="This page doesn't exist."
  noindex>

<div class="mid-align">

  <h1>404</h1>

  <p>The page you're looking for doesn't exist.</p>

  <div class="links">
    <a href="/">Back to Homepage</a>
  </div>

</div>

</Layout>
