---
import Layout from "../layouts/default.astro";
import faq from "../data/faq.yaml";

type FAQ = { // wallahi typescript be stricter than rust
  question: string;
  answer: string;
}

const questions: FAQ[] = faq;

---

<Layout
  title="About - VFTF"
  description="About Vanilla Fortress">

<div class="mid-align">
  <h1>About</h1>

  <p>
    Vanilla Fortress is a community hub for finding and seeding vanilla TF2 servers
    running the original Quickplay era ruleset.
  </p>

</div>

<h2>FAQ</h2>

{questions.map((q) => ( // this some ts soup over here

  <div class="question">

    <h3>{q.question}</h3>
    <p>{q.answer}</p>

  </div>

))}

</Layout>
