---
import { Image } from "astro:assets";
import ExternalLink from "../components/external_link.astro";
import Layout from "../layouts/default.astro";
import soldier from "../assets/vftf/transparent/soldier.svg";
import socials from "../data/socials.yaml";
---

<Layout
  title="Vanilla Fortress"
  description="A community hub for vanilla TF2 servers.">

  <section class="home-splash">
    <h1>Vanilla Fortress</h1>

    <div class="home-intro">
      <p class="eyebrow">Under construction</p>
      <p class="page-lead">
        Vanilla Fortress is a community hub for finding and seeding vanilla TF2 servers
        reminiscent of the Quickplay era.
      </p>
      <p class="page-lead">Get notifications for sessions on our Discord server and Steam group!</p>
    </div>

    <Image
      class="home-soldier"
      src={soldier}
      alt="TF2 Soldier"
      width={256}
      height={144}
      loading="eager"
      decoding="sync"
    />
  </section>

  <section class="rally-section">
    <h2>Get Fragging</h2>
    <div class="links">
      <ExternalLink href={socials.discord}>Discord Server</ExternalLink>
      <ExternalLink href={socials.steam}>Steam Group</ExternalLink>
    </div>
  </section>

</Layout>
