---
import ExternalLink from "../components/external_link.astro";
import Layout from "../layouts/default.astro";
import socials from "../data/socials.yaml";
---

<Layout
  title="Vanilla Fortress"
  description="A community hub for vanilla TF2 servers.">

<div class="mid-align">

  <h1>Vanilla Fortress</h1>

  <p>UNDER CONSTRUCTION</p>

  <p>
    Vanilla Fortress is a community hub for finding and seeding vanilla TF2 servers
    reminiscent of the Quickplay era.
  </p>

  <p>Get notifications for sessions on our Discord server and Steam group!</p>

  <img src="/images/vftf/transparent/soldier.png" alt="Soldier">

  <h1>Get Fragging</h1>

  <div class="links">
    <ExternalLink href={socials.discord}>Discord Server</ExternalLink>
    <ExternalLink href={socials.steam}>Steam Group</ExternalLink>
  </div>

</div>

</Layout>
