<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    {% if page.script %}
      <script src="{{ page.script }}"></script>
    {% endif %}
  </head>

  <body>

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>